<!--The content below is only a placeholder and can be replaced.-->
<div class="navbar-fixed">
  <nav>
    <div class="container">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">{{ title }}</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#">Sass</a></li>
          <li><a href="#">Components</a></li>
          <li><a href="#">JavaScript</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div class="container">
  <grid></grid>
</div>
